---
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
---

<section  id="cta" class="pb-20">
  <Container>
    <div
      class="w-full relative py-8 md:py-10 px-6 md:px-8 rounded-2xl bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900"
    >
      <div class="absolute right-0 top-0 h-full w-full flex justify-end">
        <div class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl">
            <span
              class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
            ></span>
          </div>
      </div>

      <div class="absolute left-0 bottom-0 h-full w-full flex items-end">
        <div class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl">
            <span
              class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
            ></span>
          </div>
      </div>
      <div class="mx-auto text-center max-w-xl md:max-w-2xl relative">
        <h1
          class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight
          font-bold text-heading-1"
        >
          Un <span class="text-transparent bg-clip-text bg-primary">projet</span> ? 
          Une <span class="text-transparent bg-clip-text bg-primary">envie</span> ? 
          Une <span class="text-transparent bg-clip-text bg-primary">idée</span> ? 
        </h1>
        <Paragraph className={"pt-10"}>
          FJ Amenagement paysages vous accompagne dans toutes les étapes de votre projet,
          de sa conception à sa réalisation.
        </Paragraph>
        <div class="mx-auto max-w-md sm:max-w-xl">
          <!--<Button variant={"primary"}>
            <span class="text-white relative z-[5]">Contactez-nous</span>
          </Button>-->
          <section class="text-gray-600 body-font relative">
              <div class="container px-5 py-24 mx-auto">
                <form
                  name="contact"
                  method="POST"
                  action="https://formspree.io/f/mrgwbzbp">
                  <input type="hidden" name="form-name" value="contact" />
                  <div class="flex flex-wrap -m-2">
                    <div class="p-2 w-full">
                      <div class="relative">
                        <label class="leading-7 text-sm text-gray-600">Nom & Prénom</label>
                        <input type="text" id="name" name="name" class="w-full bg-white rounded-2xl border border-gray-300 focus:border-bg-primary focus:ring-2 focus:ring-bg-primary text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" />
                      </div>
                    </div>
                    <div class="p-2 w-full">
                      <div class="relative">
                        <label class="leading-7 text-sm text-gray-600">Email</label>
                        <input type="email" id="email" name="email" class="w-full bg-white rounded-2xl border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-bg-primary
                        bg-primary text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" />
                      </div>
                    </div>
                    <div class="p-2 w-full">
                      <div class="relative">
                        <label class="leading-7 text-sm text-gray-600">Message</label>
                        <textarea id="message" name="message" class="w-full bg-white rounded-2xl border border-gray-300 focus:border-bg-primary focus:ring-2 focus:ring-bg-primary
                        bg-primary h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
                      </div>
                    </div>
                    <div class="p-2 w-full">
                      <button type="submit" class="flex mx-auto text-white bg-primary border-0 py-2 px-8 focus:outline-none hover:bg-secondary rounded-2xl text-lg">Envoyer</button>
                    </div>
                  </div>
                </form>
              </div>
            </section>
        </div>
      </div>
    </div>
  </Container>
</section>
