---
import Projet from "../cards/Projet.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="Projets">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                Projets
            </Title>
            <Paragraph>
                Voici quelques une de nos réalisations.
            </Paragraph>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
            <Projet image ="/images/terasse.jpg"></Projet>
            <Projet image ="/images/terasse.jpg"></Projet>
            <Projet image ="/images/terasse.jpg"></Projet>
            <Projet image ="/images/terasse.jpg"></Projet>
            <Projet image ="/images/terasse.jpg"></Projet>
            <Projet image ="/images/terasse.jpg"></Projet>
        </div>
    </Container>
</section>